<div class="row">

	<div class="col-xs-12">
		<div class="btn-group pull-right" role="group">
			<button ng-disabled="$parent.currentPage == 1" ng-click="$parent.currentPage=$parent.currentPage-1" type="button" class="btn btn-default">&laquo;</button>
			<button ng-disabled="$parent.currentPage >= (rows | filter:queryFilter.value).length/pageSize" ng-click="$parent.currentPage=$parent.currentPage+1" type="button" class="btn btn-default">&raquo;</button>
		</div>
	</div>

	<div class="col-xs-12">
		<span class="pull-right">
			{{$parent.currentPage}}/{{ ((rows | filter:queryFilter.value).length / pageSize) | mathCeil}}
		</span>
	</div>

</div>